<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/font-awesome-4.7.0/css/font-awesome.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.0"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.0/dist/instantsearch-theme-algolia.min.css">
<!--<script type="text/javascript">
//     window.QGSettings = {
//         "appId": "466e1a0563f19de3ddc9",
//         "push": {
//           "requestSelf": false,
//           "fakePrompt": false,
//         "prompt": {
//           "title": "Get Latest Updates",
//           "message": "Subscribe to notifications"
//         }
//       }
//     };
//     !function(q,g,r,a,p,h){if(q.qg)return;n=q.qg=function(){n.callmethod?n.callmethod.call(n,arguments):n.queue.push(arguments);};n.queue=[];p=g.createElement(r);p.async=!0;p.src=a;h=g.getElementsByTagName(r)[0];h.parentNode.insertBefore(p,h)}(window,document,'script','https://cdn.qgraph.io/dist/qgraph.v2.js');
//     qg('init',window.QGSettings);
// </script> -->
</head>
